<ddap-header icon="resource" label="Resources">
  <ddap-entity-add
    [label]="'resources'">
  </ddap-entity-add>
</ddap-header>

<ddap-main>
  <ddap-entity-description>
    Resources are datasets and derived services. Here is where you can add datasets to DDAP so that they are available
    to researchers, and map <a [routerLink]="['..', 'access-policies']">access policies</a> onto them to declare which researchers can access the data.
  </ddap-entity-description>
  <mat-accordion class="ddap-resource-list">
    <ng-container *ngFor="let resource of entities$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="5rem">
          <mat-panel-title>
            <h3 data-se="entity-title">{{ resource.dto.ui.label }}</h3>
          </mat-panel-title>
          <mat-panel-description>
            {{ resource.dto.ui.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex">
          <ddap-metadata-list [metadata]="resource.dto.ui" [includeFields]="['owner']">
          </ddap-metadata-list>
          <ddap-access-table [resource]="resource">
          </ddap-access-table>
        </div>
        <mat-action-row>
          <button mat-button
                  [routerLink]="[resource.name]"
                  color="primary"
                  class="uppercase">
            Edit Resource
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ddap-main>
