<ddaplib-header icon="trusted" label="Trusted Sources">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add trusted source'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Trusted Sources are sources of GA4GH
    <ddaplib-entity-description-link [path]="'../claim-definitions'">claims</ddaplib-entity-description-link>
    in researcher identity tokens.
    Typical <ddaplib-entity-description-link [path]="'../access-policies'">access policies</ddaplib-entity-description-link>
    place restrictions on the value and source
    of claims.
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'trusted source'"
    [descriptionProperty]="'sources'"
    [descriptionLabel]="'sources'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
