<ddaplib-header [backLink]="['..']" [label]="entity?.name">
</ddaplib-header>

<ddaplib-main>
  <mat-progress-bar *ngIf="!entity"
                    class="ddap-card-loader"
                    mode="indeterminate">
  </mat-progress-bar>

  <div *ngIf="entity">
    <ddap-claim-definition-form #claimDefinitionForm
                               [claimDefinition]="entity">
    </ddap-claim-definition-form>
  </div>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="delete()"
          [disabled]="!entity"
          data-se="btn-delete"
          type="button"
          color="warn"
          class="uppercase">
    Delete
  </button>
  <button mat-flat-button
          (click)="update()"
          [disabled]="!entity"
          data-se="btn-update"
          type="submit"
          color="primary"
          class="uppercase">
    Save
  </button>
</div>
