<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="persona && persona.name.length > 0"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
  </div>

  <ng-container formGroupName="passport">
    <ng-container formGroupName="standardClaims">
      <h3>
        <mat-icon class="icon icon-claims"></mat-icon>
        <span>Standard Claims</span>
      </h3>
      <mat-card>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Issuer"
                   formControlName="iss"
                   data-se="inp-iss"
                   [matAutocomplete]="issuers"
                   required>
            <mat-autocomplete #issuers="matAutocomplete">
              <mat-option *ngFor="let option of passportIssuers | async"
                          [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   formControlName="email"
                   placeholder="Email"
                   data-se="inp-email"
                   required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   placeholder="Picture URL"
                   formControlName="picture"
                   data-se="inp-picture">
          </mat-form-field>
        </div>
      </mat-card>
    </ng-container>

    <ng-container formArrayName="ga4ghAssertions">
    <h3>
      <span>Global Alliance for Genomics and Health Passport Visas</span>
      <div>
        <button mat-button
                color="primary"
                class="uppercase"
                type="button"
                data-se="btn-add-passport"
                (click)="addGa4ghAssertion()">
          Add Passport Visa
        </button>
      </div>
    </h3>
      <mat-accordion multi displayMode="flat">
        <mat-expansion-panel *ngFor="let ga4ghAssertion of ga4ghAssertions.controls; let i=index"
                             [attr.data-se]="'passport-' + i">
          <mat-expansion-panel-header collapsedHeight="5rem"
                                      expandedHeight="5rem">
            <mat-panel-title>
              <mat-icon class="icon icon-claims"></mat-icon>
              <span>{{ ga4ghAssertion.get('type').value || 'Passport' }}</span>
            </mat-panel-title>
            <div class="invalid-warning" *ngIf="ga4ghAssertion.invalid">
              <mat-icon class="icon icon-warning"
                        matTooltip="Passport Visa is invalid">
              </mat-icon>
            </div>
          </mat-expansion-panel-header>

          <ng-container [formGroupName]="i">
            <div class="row">
              <mat-form-field class="col">
                <input matInput
                       [matAutocomplete]="claims"
                       formControlName="type"
                       placeholder="Passport Visa Type"
                       data-se="inp-passport-type"
                       required>
                <mat-autocomplete #claims="matAutocomplete">
                  <mat-option *ngFor="let option of claimDefinitions | async"
                              [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput
                       [matAutocomplete]="sources"
                       formControlName="source"
                       placeholder="Source"
                       data-se="inp-passport-source"
                       required>
                <mat-error *ngIf="ga4ghAssertion.get('source').hasError('url')">Must start with http:// or https://</mat-error>
                <mat-autocomplete #sources="matAutocomplete">
                  <mat-option *ngFor="let option of trustedSources | async"
                              [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <mat-form-field class="col">
              <input matInput
                     [matAutocomplete]="values"
                     formControlName="value"
                     placeholder="Value"
                     data-se="inp-passport-value"
                     required>
              <mat-autocomplete #values="matAutocomplete">
                <mat-option *ngFor="let option of claimSuggestedValues"
                            [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <div class="row">
              <mat-form-field class="col">
                <input matInput
                       required
                       formControlName="assertedDuration"
                       placeholder="Asserted Duration"
                       data-se="inp-passport-asserted">
                <mat-error *ngIf="ga4ghAssertion.get('assertedDuration').hasError('required')">
                  Duration is required
                </mat-error>
                <mat-error *ngIf="ga4ghAssertion.get('assertedDuration').hasError('duration')">
                  Duration must be in form <i>(number)(s|m|h|d|w)</i> (e.g. 30d)
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col">
                <input matInput
                       required
                       formControlName="expiresDuration"
                       placeholder="Expires Duration"
                       data-se="inp-passport-expired">
                <mat-error *ngIf="ga4ghAssertion.get('expiresDuration').hasError('required')">
                  Duration is required
                </mat-error>
                <mat-error *ngIf="ga4ghAssertion.get('expiresDuration').hasError('duration')">
                  Duration must be in form (number)(s|m|h|d|w), e.g. <i>30d</i>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col w-50">
                <mat-label>By</mat-label>
                <mat-select formControlName="by"
                            data-se="inp-passport-by">
                  <mat-option>None</mat-option>
                  <mat-option value="self">self</mat-option>
                  <mat-option value="peer">peer</mat-option>
                  <mat-option value="so">so</mat-option>
                  <mat-option value="dac">dac</mat-option>
                  <mat-option value="system">system</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="footer">
              <button mat-button
                      type="button"
                      color="warn"
                      class="uppercase"
                      (click)="removeGa4ghAssertion(i)">
                Remove Passport Visa
              </button>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </ng-container>

  <h3>
    <mat-icon class="icon icon-resources"></mat-icon>
    <span>Resource Access</span>
  </h3>

  <mat-progress-bar *ngIf="!resourcesList"
                    mode="indeterminate">
  </mat-progress-bar>

  <ng-container *ngIf="resourcesList">
    <div class="access-description">
      <p>
        Headings are test persona names. Checkboxes represent the expected access on the labelled view (qualified by resource).
        A box is checked if and only if the titled persona is expected to have access to the labelled view.
      </p>
      <p>
        If a box is red, the changes you are making have altered the expected state. Please either modify your changes
        to maintain the expected state, or click the checkbox to explicitly change the expected access.
      </p>
    </div>
    <ddap-persona-access-form [resources]="resourcesList"
                              [form]="resourceAccess">
    </ddap-persona-access-form>
  </ng-container>

  <ng-content></ng-content>
</form>
