.ddap-resource-list {
  mat-panel-description {
    align-items: center;
  }

  ddap-metadata-list {
    margin-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: -1rem;
    min-width: 25rem;
    max-width: 25rem;
  }

  ddap-personas-access-table {
    margin-left: 1rem;
    flex-grow: 1;
  }
}
