<ddaplib-header icon="resource" label="Resources">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add resources'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Resources are datasets and derived services. Here is where you can add datasets to DDAP so that they are available
    to researchers, and map
    <ddaplib-entity-description-link [path]="'../access-policies'">access policies</ddaplib-entity-description-link>
    onto them to declare which researchers can access the data.
  </ddaplib-entity-description>
  <mat-accordion class="ddap-resource-list">
    <ng-container *ngFor="let resource of entities$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="5rem">
          <mat-panel-title>
            <h3 data-se="entity-title">{{ resource.dto.ui.label }}</h3>
          </mat-panel-title>
          <mat-panel-description>
            {{ resource.dto.ui.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="flex">
          <ng-container *ngIf="resource.dto.ui as ui">
            <ddap-metadata-list *ngIf="displayableMetadata(ui | keyvalue | metadataFilter: ['owner'])"
                                [metadata]="ui"
                                [includeFields]="['owner']">
            </ddap-metadata-list>
          </ng-container>
          <ddap-personas-access-table [damId]="damId"
                                      [resource]="resource">
          </ddap-personas-access-table>
        </div>
        <mat-action-row>
          <button mat-button
                  [routerLink]="[resource.name]"
                  color="primary"
                  class="uppercase">
            Edit Resource
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ddaplib-main>
