<mat-accordion class="ddap-resource-view-item">
  <mat-expansion-panel>
    <mat-expansion-panel-header collapsedHeight="4rem">
      <mat-progress-bar mode="indeterminate"
                        *ngIf="accessSubscription && !accessSubscription.closed">
      </mat-progress-bar>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ view.dto.ui.label || view.name }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-expansion-panel-header>
    <div class="flex">
      <mat-form-field>
        <input matInput
               type="number"
               min="1"
               placeholder="Duration of an access token"
               [formControl]="ttlForm">
        <mat-hint align="start"><strong>Maximum duration is 90 days</strong> </mat-hint>
        <mat-error *ngIf="ttlForm.hasError('required')">
          Duration is required
        </mat-error>
        <mat-error *ngIf="ttlForm.hasError('min')">
          Duration must be a positive integer
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time unit</mat-label>
        <mat-select [(value)]="selectedTimeUnit"
                    [disabled]="access?.token">
          <mat-option value="s">second</mat-option>
          <mat-option value="m">minute</mat-option>
          <mat-option value="h">hour</mat-option>
          <mat-option value="d">day</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-flat-button
            color="primary"
            class="uppercase"
            [class.success]="access?.token"
            [matMenuTriggerFor]="appMenu"
            data-se="get-access-btn"
            (click)="getAccess()">
      Access
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <a href="{{ downloadCliUrl }}"
       class="right"
       data-se="download-cli-button"
       target='_blank'
       rel='noopener noreferrer'>
      <button mat-button
              color="primary"
              class="uppercase">
        Download Command Line Client
      </button>
    </a>
  </mat-expansion-panel>
</mat-accordion>

<mat-menu #appMenu="matMenu"
          class="access-menu"
          yPosition="above"
          [overlapTrigger]="false">
  <div *ngIf="access; else error">
    <ddap-view-access [access]="access"
                      [url]="url">
    </ddap-view-access>
    <div>
      <a *ngIf="url"
         href="{{ url }}"
         data-se="access-btn"
         target='_blank'
         rel='noopener noreferrer'>
        <button mat-button
                color="primary"
                class="uppercase">
          View
        </button>
      </a>
    </div>
  </div>
</mat-menu>

<ng-template #error>
  <div class="error-container flex flex--column"
       *ngIf="accessSubscription && accessSubscription.closed">
    <div class="flex flex--row vertical-center">
      <mat-icon color="warn">warning</mat-icon>
      <p>Permission denied: you do not have sufficient claims to access this resource</p>
    </div>
    <div class="error-message">
      <button mat-button
              class="uppercase"
              disabled>
        Send Feedback
      </button>
    </div>
  </div>
</ng-template>
