<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
        <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
      </textarea>
    </mat-form-field>
  </div>

  <h3>
    <span>Sources</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-source"
              (click)="addSource()">
        Add Source
      </button>
    </div>
  </h3>
  <p>Trusted sources to issue access policy claims</p>

  <mat-accordion multi displayMode="flat">
    <mat-expansion-panel *ngFor="let source of sources.controls; let i=index"
                         formArrayName="sources"
                         [attr.data-se]="'source-' + i">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <ng-container *ngIf="source">
          <mat-panel-title>
            <mat-icon class="icon icon-trusted"></mat-icon>
            <span>{{ source.value || 'Source' }}</span>
          </mat-panel-title>
          <div class="invalid-warning" *ngIf="source.invalid">
            <mat-icon class="icon icon-warning"
                      matTooltip="Source is invalid">
            </mat-icon>
          </div>
        </ng-container>
      </mat-expansion-panel-header>
      <div class="row">
        <mat-form-field class="col">
          <input matInput
                 [formControlName]="i"
                 placeholder="Source"
                 data-se="inp-source"
                 required>
        </mat-form-field>
      </div>

      <div class="footer">
        <button mat-button
                type="button"
                color="warn"
                class="uppercase"
                (click)="removeSource(i)">
          Remove Source
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <h3>
    <span>Claims</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-claim"
              (click)="addClaim()">
        Add Claim
      </button>
    </div>
  </h3>
  <p>Trusted claims to be issued from these sources</p>

  <mat-accordion multi displayMode="flat">
    <mat-expansion-panel *ngFor="let claim of claims.controls; let i=index"
                         formArrayName="claims"
                         [attr.data-se]="'claim-' + i">
      <mat-expansion-panel-header collapsedHeight="5rem"
                                  expandedHeight="5rem">
        <ng-container *ngIf="claim">
          <mat-panel-title>
            <mat-icon class="icon icon-claims"></mat-icon>
            <span>{{ claim.value || 'Claim' }}</span>
          </mat-panel-title>
          <div class="invalid-warning" *ngIf="claim.invalid">
            <mat-icon class="icon icon-warning"
                      matTooltip="Claim is invalid">
            </mat-icon>
          </div>
        </ng-container>
      </mat-expansion-panel-header>
      <div class="row">
        <mat-form-field class="col">
          <input matInput
                 [formControlName]="i"
                 placeholder="Claim"
                 data-se="inp-claim"
                 required>
        </mat-form-field>
      </div>

      <div class="footer">
        <button mat-button
                type="button"
                color="warn"
                class="uppercase"
                (click)="removeClaim(i)">
          Remove Claim
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-content></ng-content>
</form>
