<form *ngIf="form"
      novalidate
      [formGroup]="form">
  <ul>
    <li *ngFor="let view of views">
      <h3>{{ view }}</h3>
      <ul>
        <li *ngFor="let persona of personas">
          <ng-container *ngIf="form.get(persona.name) && form.get(persona.name).get(view)">
            <ng-container [formGroupName]="persona.name">
              <mat-checkbox [formControlName]="view"
                            color="primary"
                            (change)="emitChange()"
                            id="{{ view }}/{{ persona.name }}">
                {{ persona.name }}
              </mat-checkbox>
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </li>
  </ul>
</form>
