@import "~src/styles/modules/colors";


table {
  td:first-child {
    width: 100%;
  }

  th {
    vertical-align: middle;

    &:not(:first-child) {
      text-align: center;
      padding: 0.5rem;
    }

    mat-icon {
      vertical-align: middle;
      color: $color-grey;
    }
  }

  th:first-child {
    color: inherit;
    font-size: 1rem;
  }

  tr.mat-row td {
    border-bottom-style: dashed;
  }

  tr:last-child td {
    border: none;
  }

  td:not(:first-child) {
    padding: 0.5rem;
    text-align: center;

    mat-icon.lock {
      color: $color-grey-light;
    }
  }
}
