<ddap-header [backLink]="['../..']" label="Add Rule">
</ddap-header>

<ddap-main>
  <form #ruleForm="ngForm" (ngSubmit)="onSubmit(idField.value, ruleForm.value.body)">
    <mat-form-field data-se="id-field">
      <mat-label>Rule ID</mat-label>
      <input #idField matInput>
      <mat-hint>The name by which other config objects refer to this resource</mat-hint>
    </mat-form-field>
    <div>
      <button type="submit" mat-flat-button color="primary" [disabled]="!ruleForm.form.valid || ruleForm.submitted">
        Add Rule
      </button>
    </div>
  </form>
</ddap-main>
