<ddap-header [backLink]="ruleService.realmService.underRealm('/rules') | async" label="Add Rule">
</ddap-header>

<ddap-main>
  <form #ruleForm="ngForm" (ngSubmit)="onSubmit(ruleForm.value)">
    <mat-form-field>
      <textarea matInput placeholder="Rule JSON" rows="10" name="body" ngModel required></textarea>
    </mat-form-field>
    <div>
      <button type="submit" mat-flat-button color="primary" [disabled]="!ruleForm.form.valid || ruleForm.submitted">
        Add Rule
      </button>
    </div>
  </form>
</ddap-main>
