<h2>Resources</h2>

<div>
  <a mat-mini-fab routerLink="/resources/manage/add">
    <mat-icon aria-label="Add resource">add</mat-icon>
  </a>
</div>
<mat-accordion>
  <ng-container *ngFor="let resource of resources$ | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ resource.ui.displayAs }}
        </mat-panel-title>
        <mat-panel-description>
          {{ resource.ui.desc }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <textarea matInput placeholder="Resource JSON" rows="10">
          {{ resource | json }}
        </textarea>
      </mat-form-field>
      <mat-action-row>
        <button mat-button [routerLink]="['/resources/', resource.name]">View</button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
