<div>
  <h3 class="flex vertical-center">
    <mat-icon class="icon icon-claims"></mat-icon>
    <span>{{ claimGroupLabel }}</span>
  </h3>
  <ul class="timeline" *ngIf="standardClaims">
    <li class="event">
      <h4>{{ standardClaims.iss }}</h4>
      <p>{{ standardClaims.sub }}</p>
    </li>
  </ul>
  <ng-container *ngIf="ga4ghClaims then ga4ghClaimsSection; else ga4ghAccountClaimsSection">
  </ng-container>
  <ng-template #ga4ghClaimsSection>
    <ul class="timeline">
      <li *ngFor="let claim of ga4ghClaims"
          class="event">
        <div class="line"></div>
        <h4>{{ claim.type }}: <span>{{ claim.value }}</span></h4>
        <p class="flex vertical-center">
          <span>{{ getFormattedExpiresTextFromClaim(claim) }}</span>
        </p>
      </li>
    </ul>
  </ng-template>
  <ng-template #ga4ghAccountClaimsSection>
    <ul class="timeline">
      <ng-container *ngFor="let accountClaim of ga4ghAccountPassport | keyvalue">
        <li class="event" *ngFor="let claim of accountClaim.value">
          <div class="line"></div>
          <h4>{{ claim.type }}: <span>{{ claim.value }}</span></h4>
          <p class="flex vertical-center">
            <mat-icon *ngIf="claimService.isExpiring(claim)"
                      class="icon icon-warning"
                      matTooltip="Expiring claim">
            </mat-icon>
            <span>{{ getFormattedExpiresTextFromAccountClaim(claim) }}</span>
          </p>
        </li>
      </ng-container>
    </ul>
  </ng-template>
</div>
