@import '~ddap-common-lib/styles/modules/colors';

p {
  color: $color-grey;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

h3 {
  font-weight: 500;
}

h4 {
  font-size: 1rem;

  span {
    color: $color-grey;
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.icon-warning {
  color: $warn-color;
  width: 1rem;
  height: 1rem;
}


.timeline {
  padding-bottom: 0;

  .event {
    .line {
      height: 112%;
    }
  }
}
