<mat-progress-bar data-se="main-progress-bar" *ngIf="loader.progress$ | async" mode="determinate" [value]="loader.progress$ | async"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" disableClose>
    <header>
      <h1 class="flex flex--column">
        <span>DDAP</span>
        <span *ngIf="isSandbox"
              class="sandbox-warning"
              matTooltip="This is sandbox testing environment">
          Sandbox environment
        </span>
      </h1>
    </header>

    <mat-nav-list>
      <div *ngIf="isSandbox"
           class="ddap-realm-select">
        <ddap-realm-input></ddap-realm-input>
      </div>

      <div *ngIf="profile"
         class="ddap-logout">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>{{ profile?.name || '&nbsp;' }}</h4>
          <span mat-line
                data-se="nav-logout"
                (click)="logout()">Log Out</span>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </div>
      <a [href]="loginPath"
         *ngIf="!profile"
         data-se="nav-login">
        <mat-list-item class="credentials-username"
                       data-se="nav-account">
          <h4 mat-line>Log In</h4>
          <div class="credentials-picture">
            <img matListAvatar
                 [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
                 alt="Profile picture">
          </div>
        </mat-list-item>
      </a>

      <mat-list-item [routerLink]="['data']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-data">
        <mat-icon class="icon icon-explore"></mat-icon>
        <h4 mat-line>Explore Data</h4>
      </mat-list-item>
      <mat-list-item *ngIf="profile"
                     [routerLink]="['identity']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-identity">
        <mat-icon class="icon icon-identity"></mat-icon>
        <h4 mat-line>My Identity</h4>
      </mat-list-item>
    </mat-nav-list>

    <div *ngIf="profile"
         class="accordion-wrapper">
      <mat-accordion [multi]="false">
        <mat-expansion-panel *ngIf="isIcAdmin"
                             [expanded]="isActivePanel('identity-concentrator')"
                             data-se="nav-ic-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Identity Concentrator</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'identity-providers']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-identity-providers">
              <mat-icon class="icon icon-identities"></mat-icon>
              <h4 mat-line>Identity Providers</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'clients']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-clients">
              <mat-icon class="icon icon-apps"></mat-icon>
              <h4 mat-line>Clients</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['admin', 'identity-concentrator', 'options']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-options">
              <mat-icon class="icon icon-settings"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <!-- Start DAM navbar -->
        <mat-expansion-panel *ngFor="let damInfo of adminDamInfos"
                             [expanded]="isActivePanel('dam', damInfo.id)"
                             [attr.data-se]="'nav-dam-panel-' + damInfo.id">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span [textContent]="damInfo.label">Data Access Manager</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="sub-nav">
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'resources']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-resources">
              <mat-icon class="icon icon-resource"></mat-icon>
              <h4 mat-line>Resources</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'access-policies']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-access-policies">
              <mat-icon class="icon icon-policies"></mat-icon>
              <h4 mat-line>Access Policies</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'service-definitions']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-service-definitions">
              <mat-icon class="icon icon-clients"></mat-icon>
              <h4 mat-line>Service Definitions</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'trusted-sources']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-trusted-sources">
              <mat-icon class="icon icon-trusted"></mat-icon>
              <h4 mat-line>Trusted Sources</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'passport-issuers']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-passport-issuers">
              <mat-icon class="icon icon-passport"></mat-icon>
              <h4 mat-line>Passport Issuers</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'claim-definitions']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-claim-definitions">
              <mat-icon class="icon icon-claims"></mat-icon>
              <h4 mat-line>Claim Definitions</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'test-personas']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-test-personas">
              <mat-icon class="icon icon-tests"></mat-icon>
              <h4 mat-line>Test Personas</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'client-applications']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-client-applications">
              <mat-icon class="icon icon-apps"></mat-icon>
              <h4 mat-line>Client Applications</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['admin', 'dam', damInfo.id, 'options']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-options">
              <mat-icon class="icon icon-settings"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <!-- End DAM nav panel -->
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ddap-sandbox-banner *ngIf="isSandbox"></ddap-sandbox-banner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
