@import '~ddap-common-lib/styles/modules/colors';

mat-sidenav-content {
  padding: 0 2rem;
}

mat-sidenav-container {
  height: 100%;
}

.mat-drawer-side {
  border-right: none;
}

:host {
  .ddap-realm-select {
    background-color: $navbar-expanded-background;
    padding: 0.5rem 1rem;
  }
  .credentials-username {
    cursor: default;

    span {
      cursor: pointer;
    }
  }
}

::ng-deep .ddap-logout {
  span.mat-line {
    color: $navbar-font-subtle-color;
  }
}

.sandbox-warning {
  font-size: 1rem;
  color: $warn-color;
}
