<mat-progress-bar *ngIf="loader.progress$ | async" mode="determinate" [value]="loader.progress$ | async"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" disableClose>
    <header>
      <h1>DDAP</h1>
    </header>

    <mat-nav-list>
      <mat-list-item class="ddap-realm-select">
        <mat-form-field>
          <mat-label>Realm</mat-label>
          <input matInput
                 data-se="realm-input"
                 [value]="realm"
                 (change)="goToRealm($event.target.value)">
          <mat-icon matSuffix class="icon icon-edit"></mat-icon>
        </mat-form-field>
      </mat-list-item>

      <mat-list-item *ngIf="profile"
                     class="credentials-username"
                     data-se="nav-account">
        <a mat-line
           [href]="loginPath">
          <h4 mat-line>{{ profile?.name || '&nbsp;' }}</h4>
          Log Out
        </a>
        <div class="credentials-picture">
          <img matListAvatar
               [src]="profile?.picture || '/assets/images/placeholder_identity.png'"
               alt="Profile picture">
        </div>
      </mat-list-item>
      <mat-list-item [routerLink]="['data']"
                     [routerLinkActive]="['active-nav-link']"
                     data-se="nav-data">
        <mat-icon class="icon icon-explore"></mat-icon>
        <h4 mat-line>Explore Data</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icon icon-collections"></mat-icon>
        <h4 mat-line>My Collections</h4>
      </mat-list-item>
      <mat-list-item (click)="goToIdentity()"
                     [class.active-nav-link]="isIdentityPage()"
                     data-se="nav-identity">
        <mat-icon class="icon icon-identity"></mat-icon>
        <h4 mat-line>My Identity</h4>
      </mat-list-item>
    </mat-nav-list>

    <div *ngIf="profile"
         class="accordion-wrapper">
      <mat-accordion [multi]="false">
        <mat-expansion-panel [expanded]="false"
                             data-se="nav-ic-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Identity Concentrator</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="['identity-concentrator', 'identity-providers']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-identity-providers">
              <mat-icon class="icon icon-identities"></mat-icon>
              <h4 mat-line>Identity Providers</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['identity-concentrator', 'clients']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-clients">
              <mat-icon class="icon icon-clients"></mat-icon>
              <h4 mat-line>Clients</h4>
            </mat-list-item>
            <mat-list-item [routerLink]="['identity-concentrator', 'options']"
                           [routerLinkActive]="['active-nav-link']"
                           data-se="nav-ic-options">
              <mat-icon class="icon icon-rules"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Mount Sinai Hospital</span>
              <span>Autism Repository</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="sub-nav">
            <mat-list-item
              [routerLink]="['resources']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-resources">
              <mat-icon class="icon icon-resources"></mat-icon>
              <h4 mat-line>Resources</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['access-policies']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-access-policies">
              <mat-icon class="icon icon-policies"></mat-icon>
              <h4 mat-line>Access Policies</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['service-templates']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-service-templates">
              <mat-icon class="icon icon-clients"></mat-icon>
              <h4 mat-line>Service Templates</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['trusted-sources']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-trusted-sources">
              <mat-icon class="icon icon-trusted"></mat-icon>
              <h4 mat-line>Trusted Sources</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['passport-issuers']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-passport-issuers">
              <mat-icon class="icon icon-passport"></mat-icon>
              <h4 mat-line>Passport Issuers</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['claim-definitions']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-claim-definitions">
              <mat-icon class="icon icon-claims"></mat-icon>
              <h4 mat-line>Claim Definitions</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['test-personas']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-test-personas">
              <mat-icon class="icon icon-tests"></mat-icon>
              <h4 mat-line>Test Personas</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['client-applications']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-client-applications">
              <mat-icon class="icon icon-apps"></mat-icon>
              <h4 mat-line>Client Applications</h4>
            </mat-list-item>
            <mat-list-item
              [routerLink]="['options']"
              [routerLinkActive]="['active-nav-link']"
              data-se="nav-options">
              <mat-icon class="icon icon-settings"></mat-icon>
              <h4 mat-line>Options</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>Human Cell Atlas</span>
              <span>Sequence Repository</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-button class="text-color--subtle text-size--small uppercase">+5 more repositories</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
