<mat-card>
  <mat-progress-bar *ngIf="!isTokenGranted() && accessClicked && !error" mode="indeterminate"></mat-progress-bar>
  <mat-card-header class="stretch">
    <mat-card-title>{{ view.ui?.label || view.name }}</mat-card-title>
    <mat-card-subtitle *ngIf="view.ui?.label">{{ view.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="uppercase"
            [matMenuTriggerFor]="appMenu"
            data-se="get-access-btn"
            (click)="getAccess()">
      Access
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" class="access-menu" xPosition="before" yPosition="below">
      <div *ngIf="!error" >
        <div class="flex flex--column vertical-center">
          <div class="flex vertical-center row" *ngIf="isTokenGranted() && view.account">
            <mat-form-field class="stretch">
              <input matInput readonly type="text" [placeholder]="'Service account'" [value]="view.account">
            </mat-form-field>
            <button mat-flat-button matSuffix mat-icon-button ngxClipboard
                    [cbContent]="view.account"
                    matTooltip="Copy to clipboard"
                    aria-label="Copy to clipboard">
              <mat-icon class="icon icon-copy"></mat-icon>
            </button>
          </div>
          <div class="flex vertical-center row" *ngIf="isTokenGranted() && (view.url || view.token)">
            <mat-form-field class="stretch">
              <input matInput readonly type="text" [placeholder]="view.url ? 'Access url' : 'Access token'" [value]="view.url || view.token">
            </mat-form-field>
            <button mat-flat-button matSuffix mat-icon-button ngxClipboard
                    [cbContent]="view.url || view.token"
                    matTooltip="Copy to clipboard"
                    aria-label="Copy to clipboard">
              <mat-icon class="icon icon-copy"></mat-icon>
            </button>
          </div>
        </div>
        <div>
          <a *ngIf="view.url" href="{{view.url}}"
             data-se="access-btn"
             target='_blank' rel='noopener noreferrer'>
            <button mat-button color="primary" class="uppercase">View</button>
          </a>
        </div>
      </div>
      <div *ngIf="error" class="flex flex--column">
        <div class="flex flex--row vertical-center">
          <mat-icon color="warn">warning</mat-icon>
          <p>Unable to request access token at the moment. Please try again later or contact admin.</p>
        </div>
        <div class="error-message">
          <button mat-button class="uppercase" (click)="sendFeedback()">Send Feedback</button>
        </div>
      </div>
    </mat-menu>
  </mat-card-actions>
</mat-card>
