<ddap-header [backLink]="['../..']"
             label="Add Identity Provider">
</ddap-header>

<ddap-main>
  <ddap-identity-provider-form #ddapForm
                               [model]="identityProvider">
  </ddap-identity-provider-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <mat-error #formErrorElement
             [class.visible]="formError.showError"
             class="ddap-form-validation-msg"
             [textContent]="formError.message">
  </mat-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Identity Provider
  </button>
</div>
