@import "~src/styles/modules/colors";
@import "~@angular/material/theming";

table, p {
  color: $navbar-font-subtle-color;
}

table {
  margin-top: 2rem;

  tr {
    margin-bottom: 2rem;
  }

  td:first-child {
    padding-right: 3rem;
  }
}

mat-list.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 2rem 0;

  .mat-list-text .mat-line {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.ddap-column-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > .ddap-column {
    flex: 1;
    padding: 0 1rem 0 0;

    &:last-child {
      padding: 0;
    }
  }
}

.ddap-resource-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

mat-divider.ddap-main-divider {
  border-top-width: 1px;
  background-color: $color-grey;
  margin-bottom: 1rem;
}

ddap-resource-views {
  width: 100%;
}

/deep/ .mat-list-base {
  padding-top: 1rem;

  mat-list-item.ddap-data-view {
    padding: 1rem 0;

    &:first-child {
      padding-top: 0;
    }

    > .mat-list-item-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.ddap-resource-views {
  &.mat-list-base .mat-list-item,
  &.mat-list-base .mat-list-option {
    height: auto;
  }

  ddap-resource-view-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
