<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             data-se="inp-id"
             [readonly]="passportIssuer.name && passportIssuer.name.length > 0"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col"
                    formGroupName="ui">
      <textarea matInput
                placeholder="Description"
                formControlName="description"
                data-se="inp-description"
                required>
      </textarea>
      <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             [matAutocomplete]="issuers"
             formControlName="issuer"
             placeholder="Issuer"
             data-se="inp-issuer"
             required>
      <mat-autocomplete #issuers="matAutocomplete">
        <mat-option *ngFor="let option of passportIssuers$ | async"
                    [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <mat-select placeholder="Translate Using"
                  formControlName="translateUsing"
                  data-se="inp-translateUsing">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let translator of translators$ | async" [value]="translator.id">
          {{ translator.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-content></ng-content>
</form>
