<ddap-header [backLink]="['../..']"
             label="Add Identity Provider">
</ddap-header>

<ddaplib-main>
  <ddap-identity-provider-form #identityProviderForm
                               [model]="identityProvider">
  </ddap-identity-provider-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Identity Provider
  </button>
</div>
