<ddap-header icon="tests" label="Test Personas">
  <ddap-entity-add
    [label]="'test persona'">
  </ddap-entity-add>
</ddap-header>

<ddap-main>
  <mat-accordion>
    <ng-container *ngFor="let persona of personas$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="5rem">
          <mat-panel-title>
            <mat-icon class="icon icon-identity"></mat-icon>
            <h3 data-se="entity-title">{{ persona.dto.ui.label }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ddap-claim-group *ngIf="persona.dto.idToken.standardClaims as standardClaims"
                          [claimGroupLabel]="'Standard Claims'"
                          [standardClaims]="standardClaims">
        </ddap-claim-group>
        <ddap-claim-group *ngIf="persona.dto.idToken.ga4ghClaims as ga4ghClaims"
                          [claimGroupLabel]="'Global Alliance for Genomics and Health Claims'"
                          [ga4ghClaims]="ga4ghClaims">
        </ddap-claim-group>
        <mat-action-row>
          <button mat-button
                  [routerLink]="[persona.name]"
                  color="primary"
                  class="uppercase">
            Edit Persona
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ddap-main>
