<ddap-header [isSearchPage]="true"
             [searchOpen]="true"
             label="Search Results">
</ddap-header>

<ddap-main>
  <ddap-limit-search *ngIf="resource"
                     (change)="limitSearchChange($event)"
                     [checked]="limitSearch"
                     [resourceName$]="resourceName$">
  </ddap-limit-search>

  <div *ngIf="!resultsAction.closed"
       class="ddap-center">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="resultsAction.closed && !results?.length"
       class="ddap-center">
    <h3>No results</h3>
    <p>
      <b>Tip:</b> Try searching for a BRCA2 variant:
      <a [routerLink]="['./', { query: '13 : 32936732 G > C', assembly: 'GRCh37' }]"
         data-se="brca2-link">
        13 : 32936732 G > C
      </a>
    </p>
  </div>

  <ng-template [ngIf]="resultsAction.closed && results?.length">
    <ddap-beacon-result *ngFor="let beaconResult of results"
                        [beacon]="beaconResult">
    </ddap-beacon-result>
  </ng-template>
</ddap-main>
