h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  span {
    flex-grow: 1;
    display: flex;
    align-items: center;

    mat-chip-list {
      margin-left: 0.5rem;
    }
  }
}

p {
  margin-top: 0;
}

.ddap-view-service-template {
  padding-left: 1rem;
  padding-right: 1rem;
}
