@import "../../../../../styles/modules/colors";

h4 {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  span {
    flex-grow: 1;
    display: flex;
    align-items: center;

    mat-chip-list {
      margin-left: 0.5rem;
    }
  }
}

p {
  margin-top: 0;
  font-size: 0.9rem;
  color: $color-grey;
}

.ddap-view-service-template {
  h3 > span {
    margin-left: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .mat-button[disabled][disabled].default-role-btn {
    color: $success-color;
  }
}
