<ddap-header [backLink]="['../..']"
             label="Add Test Persona">

  <div>
    <button mat-flat-button
            [routerLink]="['json']"
            disabled
            color="primary"
            class="uppercase">
      Edit JSON
    </button>
  </div>
</ddap-header>

<ddap-main>
  <ddap-persona-form #personaForm>
    <button mat-flat-button
            (click)="save()"
            data-se="btn-save"
            type="submit"
            color="primary"
            class="uppercase">
      Add Test Persona
    </button>
  </ddap-persona-form>
</ddap-main>
