<ddap-header [backLink]="['../..']"
             label="Add Test Persona">

  <div>
    <button mat-flat-button
            [routerLink]="['json']"
            disabled
            color="primary"
            class="uppercase">
      Edit JSON
    </button>
  </div>
</ddap-header>

<ddap-main>

  <form class="ddap-form"
        [formGroup]="personaForm"
        (ngSubmit)="save()">

    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="Name*"
               formControlName="id"
               data-se="inp-id">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput
               placeholder="Display Name*"
               formControlName="label"
               data-se="inp-label">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="Issuer*"
               formControlName="iss"
               data-se="inp-iss">
      </mat-form-field>

      <mat-form-field class="col">
        <input matInput
               formControlName="sub"
               placeholder="Subject*"
               data-se="inp-sub">
      </mat-form-field>
    </div>

    <h3>
      <mat-icon class="icon icon-claims"></mat-icon>

      <span>Global Alliance for Genomics and Health Claims</span>

      <div>
        <button mat-flat-button
                color="primary"
                class="uppercase"
                type="button"
                data-se="btn-add-claim"
                (click)="addGa4ghClaims()">
          Add Claim
        </button>
      </div>
    </h3>

    <div *ngFor="let ga4ghClaim of ga4ghClaims.controls; let i=index"
         formArrayName="ga4ghClaims">
      <mat-card [formGroupName]="i">
        <button mat-icon-button
                type="button"
                (click)="removeClaim(i)">
          <mat-icon aria-label="Close icon">close</mat-icon>
        </button>

        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   formControlName="claimName"
                   placeholder="Claim Name*"
                   data-se="inp-claimName">
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   formControlName="source"
                   placeholder="Source*"
                   data-se="inp-source">
            <mat-error *ngIf="!ga4ghClaim.get('source').valid && ga4ghClaim.get('source').touched"
                       class="help-block">Please enter a valid URL
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="col">
          <input matInput
                 formControlName="value"
                 placeholder="Value*"
                 data-se="inp-value">
          <mat-error *ngIf="!ga4ghClaim.get('value').valid && ga4ghClaim.get('value').touched"
                     class="help-block">Please enter a valid URL
          </mat-error>
        </mat-form-field>

        <div class="row">
          <mat-form-field class="col">
            <input matInput
                   formControlName="iat"
                   placeholder="IAT*"
                   data-se="inp-iat">
          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   formControlName="exp"
                   placeholder="EXP*"
                   data-se="inp-exp">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col w-50">
            <input matInput
                   formControlName="by"
                   placeholder="By*"
                   data-se="inp-by">
          </mat-form-field>
        </div>
      </mat-card>
    </div>

    <button mat-flat-button
            type="submit"
            color="primary"
            class="uppercase">
      Add Test Persona
    </button>
  </form>
</ddap-main>
