ddap-root {
  ddap-beacon-search-bar {
    .mat-form-field-appearance-legacy {
      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
      }
    }

    .mat-form-field-label-wrapper {
      padding: 0;
      overflow: visible;
      top: -0.64375em;
    }

    .mat-input-element,
    .mat-form-field-label-wrapper {
      font-size: 1.5rem;
    }

    .mat-form-field-label {
      position: relative;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      display: none;
    }

    mat-form-field:not(:last-child) {
      margin-right: 1.5rem;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix,
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding: 0;
      border-top: none;
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: none;
    }

    .mat-select-value-text {
      font-size: 1.5rem;
    }

    .icon {
      font-size: 2rem;
      width: 2.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
