<ddaplib-header icon="clients" label="Service Definitions">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add service definition'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Service definitions describe the kinds of raw data sources and derived services for which you can manage access.
    Service definitions will require certain variables to be defined on resources (for example, URLs to a particular
    instance of a service), and a mapping of DAM roles (used to configure access on
    <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>)
    to target roles (used to configure access on the target data source or service).
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'service definition'"
    [descriptionProperty]="'targetAdapter'"
    [descriptionLabel]="'target adapter'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
