@import '~ddap-common-lib/styles/modules/colors';

:host > div {
  margin: -2rem -2rem 2rem -2rem;
  padding: 1.5rem 2rem 0 2rem;
  height: 3rem;
  background-color: $color-grey-light;
  border-bottom: 1px solid $color-faded-grey;
}

:host.filter-top-border > div {
  border-top: 1px solid $color-faded-grey;
}

:host.filter-inline > div {
  margin: auto;
}
