<header>
  <ng-template [ngIf]="!searchOpen">
    <button *ngIf="backLink"
            mat-icon-button>
      <mat-icon class="icon icon-arrow"
                [routerLink]="backLink"></mat-icon>
    </button>

    <mat-icon *ngIf="icon"
              class="icon"
              [ngClass]="'icon-' + icon"></mat-icon>
    <h2 class="stretch"
        data-se="page-title">{{ label || 'Unknown' }}</h2>

    <ng-content></ng-content>
  </ng-template>

  <ng-template [ngIf]="searchOpen">
    <button *ngIf="isSearchPage && searchBackLink"
            mat-icon-button
            [routerLink]="searchBackLink">
      <mat-icon class="icon icon-close"></mat-icon>
    </button>

    <button *ngIf="!isSearchPage"
            mat-icon-button
            (click)="closeSearch()">
      <mat-icon class="icon icon-close"></mat-icon>
    </button>

    <ddap-beacon-search-bar
      [placeholder]="['1 : 156105028 T > C']">
    </ddap-beacon-search-bar>
  </ng-template>

  <button *ngIf="searchButton && !searchOpen"
          (click)="openSearch()"
          mat-icon-button
          data-se="search-reveal">
    <mat-icon class="icon icon-search"></mat-icon>
  </button>
</header>
