@import "../../../styles/modules/colors";
@import "../../../styles/modules/typography";
@import "../../../../node_modules/@angular/material/theming";

header {
  display: flex;
  align-items: center;
  margin: 0 -2rem;
  padding: 0 2rem;
  min-height: $ddap-header-height;
  border-bottom: 1px solid $color-faded-grey;

  h2, ddap-beacon-search-bar {
    margin: 0;
    display: inline-block;
    line-height: 2rem;
    vertical-align: middle;
  }

  ddap-beacon-search-bar {
    width: 100%;
    margin-left: 0.5rem;
  }

  h2 {
    font-weight: 400;
    padding: 1rem 0 1rem 0.5rem;
    font-size: 2.2rem;
    color: $navbar-main-background;
  }

  mat-icon {
    color: $color-grey;
    font-size: 2rem;
    width: 2.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
  }
}

:host-context(.no-border) header {
  border-bottom: 1px solid transparent;
}
