server:
  port: 8085

dam:
  base-url: http://localhost:3000/
  client-id: local-dam-client-id
  client-secret: local-dam-client-secret
idp:
  base-url: http://localhost:3001/
  client-id: local-dam-client-id
  client-secret: local-dam-client-secret

ddap:
  public-uri: http://localhost:8085
  default-realm: dnastack
  cors:
    origins: "http://localhost:4200"
  cookies:
    # Default to false so cookies work on http://localhost
    # e2e tests will remind you to set this true in real deployments!
    secure: false
  state-handler:
    aud: ${ddap.public-uri}
    ttl: PT1M
    signingKey: |
      VGhlcmUgb25jZSB3YXMgYSBsYW5ndWFnZSBjYWxsZWQgYmFzaApJdCdzIHNlbWFudGljcyB3ZXJlIG9mdGVuIHF1aXRlI
      HJhc2gKQnV0IGl0IHdvcmtlZCwgbW9yZSBvciBsZXNzCkV2ZW4gdGhvdWdoIGl0J3MgYSBtZXNzClNvIEkgZ3Vlc3MgaX
      Qgc3RheXMgb3V0IG9mIHRoZSB0cmFzaAo=

spring:
  security:
    user:
      name: "dev"
      password: "dev"
  cloud:
    gateway:
      routes:
        # NB: If you add a new route here,
        # you may also need to modify com.dnastack.ddapfrontend.route.Router#angluarRoutes
        - predicates:
            - Path=/api/cafevariome/**
          filters:
            - StripPrefix=2
            - RemoveRequestHeader=Authorization
            - Logging
          uri: https://beacon.cafevariome.org
        - predicates:
            - Path=/dam/**
          filters:
            - AddRequestParameter=clientId,${dam.client-id}
            - AddRequestParameter=clientSecret,${dam.client-secret}
            - RemoveRequestHeader=Authorization
            - SetBearerTokenFromCookie=DAM
            - Logging
          uri: ${dam.base-url}
        - predicates:
            - Path=/identity/**
          filters:
            - AddRequestParameter=clientId,${idp.client-id}
            - AddRequestParameter=clientSecret,${idp.client-secret}
            - RemoveRequestHeader=Authorization
            - SetBearerTokenFromCookie=IC
            - Logging
          uri: ${idp.base-url}
logging:
  level:
    com:
      dnastack:
        ddap: DEBUG
