<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ entity?.name }} JSON
    </mat-panel-title>
  </mat-expansion-panel-header>
  <json-editor #entityEditor
               [options]="entityEditorOptions"
               [data]="entity"
               (change)="updateResourceDto($event)"></json-editor>

  <mat-panel-title *ngIf="useTests && state === ViewState.Editing"
                   class="ddap-test-title">
    {{ entity?.name }} Test
  </mat-panel-title>
  <json-editor *ngIf="useTests && state === ViewState.Editing"
               #testEditor
               [options]="testEditorOptions"
               [data]="testDto"
               (change)="updateTestDto($event)"></json-editor>

  <mat-error *ngIf="error">
    <span *ngIf="!error.apply">{{ error }}</span>
    <span *ngIf="error.apply">Cannot save, please consider using following dtos:</span>
  </mat-error>

  <json-editor *ngIf="error && error.apply && useTests && state === ViewState.Editing"
               #errorEditor
               [options]="errorEditorOptions"
               [data]="error"></json-editor>

  <mat-action-row *ngIf="state !== ViewState.Viewing">
    <button mat-flat-button
            color="primary"
            (click)="save()"
            [disabled]="state === ViewState.Submitting">Submit
    </button>

    <button mat-flat-button
            (click)="cancel()"
            [disabled]="state === ViewState.Submitting">Cancel
    </button>
  </mat-action-row>
  <mat-action-row *ngIf="state === ViewState.Viewing">
    <button mat-flat-button
            color="primary"
            (click)="edit()">Edit
    </button>
  </mat-action-row>
</mat-expansion-panel>
