@import "../../../styles/modules/colors";

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  min-width: auto;
}

.error-message {
  font-size: 0.8rem;
  color: $failure-color;
}
