@import '~ddap-common-lib/styles/modules/colors';

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  min-width: auto;
}

.error-message {
  font-size: 0.8rem;
  color: $failure-color;
}

.view-access {
  ::ng-deep .mat-expansion-panel-header-title,
  ::ng-deep .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
}
