@import 'base';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--row {
  flex-direction: row;
}

.vertical-center {
  align-items: center;
}

.stretch {
  flex-grow: 1;
}
