<ddap-header [backLink]="['../..']"
             label="Add Trusted Source">
</ddap-header>

<ddap-main>
  <ddap-trusted-sources-form>
    <mat-error #formMatError
               [class.visible]="formError.showError"
               class="ddap-form-validation-msg">
      Please fix invalid fields (marked red) before saving the persona.
    </mat-error>
  </ddap-trusted-sources-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Trusted Sources
  </button>
</div>
