<ddap-header icon="rules" label="Options">

</ddap-header>

<ddap-main>
  <div class="list-content">
    <mat-accordion>
      <mat-expansion-panel [disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            option
          </mat-panel-title>
          <mat-panel-description>
            value
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <ng-container *ngFor="let option of options | keyvalue">
        <mat-expansion-panel (opened)="resetSelection()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ option.key }}
            </mat-panel-title>
            <mat-panel-description>
              {{ option.value }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>New value</mat-label>
            <input matInput
                   [placeholder]="option.value"
                   [(ngModel)]="newOptionValue">
          </mat-form-field>
          <mat-error *ngIf="error">
            {{ error }}
          </mat-error>
          <mat-action-row>
            <button (click)="updateOptionValue(option.key, newOptionValue)"
                    mat-button
                    color="primary"
                    class="uppercase">
              Update Value
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</ddap-main>

