<ddap-header [backLink]="['../..']"
             label="Add Passport Issuer">
</ddap-header>

<ddap-main>
  <ddap-passport-issuer-form #passportIssuerForm
                             [passportIssuer]="passportIssuer">
  </ddap-passport-issuer-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Passport Issuer
  </button>
</div>
