<ddaplib-header icon="claims" label="Claim Definitions">
  <ddap-entity-add
    [label]="'claim definitions'">
  </ddap-entity-add>
</ddaplib-header>

<ddaplib-main>
  <ddap-entity-description>
    Claim Definitions describe GA4GH Researcher Identity claims that are available for use in
    <ddap-entity-description-link [path]="'../access-policies'">access policies</ddap-entity-description-link>.
    You must define a claim definition here before it can be referenced in a policy.
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'claim definitions'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddaplib-main>
