<ddaplib-header icon="claims" label="Claim Definitions">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add claim definitions'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Claim Definitions describe GA4GH Researcher Identity claims that are available for use in
    <ddaplib-entity-description-link [path]="'../access-policies'">access policies</ddaplib-entity-description-link>.
    You must define a claim definition here before it can be referenced in a policy.
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'claim definitions'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
