<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <h3 class="form-section-title">
    <mat-icon class="icon icon-resources"></mat-icon>
    <span>Workflow Configuration</span>
  </h3>

  <div class="row">
    <mat-form-field class="col">
      <mat-label>WES Servers</mat-label>
      <mat-select formControlName="wesView"
                  data-se="inp-workflow-wes-view"
                  panelClass="workflow-wes-view-select"
                  required>
        <ng-container *ngFor="let wesResourceView of wesResourceViews">
          <mat-option *ngFor="let wesView of wesResourceView.views"
                      [value]="wesView.name">
            <div class="select-option">
              <span>{{wesResourceView.resource}}/{{wesView.label}}: </span>
              {{ wesView.url }}
            </div>
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <h3>
    <span class="step">1.</span>
    <span>Import workflow description (WDL)</span>
  </h3>
  <div class="row">
    <mat-form-field class="col">
        <textarea matInput
                  formControlName="wdl"
                  data-se="inp-workflow-wdl"
                  rows="20"
                  required>
        </textarea>
    </mat-form-field>
  </div>
  <h3>
    <span class="step">2.</span>
    <span>Set workflow inputs (JSON)</span>
  </h3>
  <div class="row">
    <mat-form-field class="col">
        <textarea matInput
                  formControlName="inputs"
                  data-se="inp-workflow-inputs"
                  rows="20"
                  required>
        </textarea>
    </mat-form-field>
  </div>
</form>
