<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <mat-label>WES Servers</mat-label>
      <mat-select formControlName="wesView"
                  data-se="inp-workflow-wes-view"
                  panelClass="workflow-wes-view-select"
                  required>
        <ng-container *ngFor="let wesResourceView of wesResourceViews">
          <mat-option *ngFor="let wesView of wesResourceView.views"
                      [value]="wesView.name">
            <div>{{ wesView.url }}</div>
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <h3>
    <mat-icon class="icon icon-settings"></mat-icon>
    <span>Workflow Description (WDL)</span>
  </h3>
  <div class="row">
    <mat-form-field class="col">
        <textarea matInput
                  formControlName="wdl"
                  data-se="inp-workflow-wdl"
                  required>
        </textarea>
    </mat-form-field>
  </div>
  <h3>
    <mat-icon class="icon icon-tests"></mat-icon>
    <span>Workflow Inputs (JSON)</span>
  </h3>
  <div class="row">
    <mat-form-field class="col">
        <textarea matInput
                  formControlName="inputs"
                  data-se="inp-workflow-inputs"
                  required>
        </textarea>
    </mat-form-field>
  </div>
</form>
