<span>* field is required</span>
<form #entityForm="ngForm"
      (ngSubmit)="submitChange()">
  <mat-form-field data-se="id-field">
    <mat-label>{{ label }} Identifier</mat-label>
    <input id="id"
           name="id"
           required
           matInput
           #id="ngModel"
           [(ngModel)]="model.name">
    <mat-hint>The name by which other config objects refer to this resource</mat-hint>
  </mat-form-field>
  <mat-form-field data-se="item-editor">
      <textarea id="item"
                name="item"
                required
                matInput
                [placeholder]="label + ' JSON'"
                rows="10"
                #item="ngModel"
                [(ngModel)]="model.dto">
      </textarea>
  </mat-form-field>
  <button type="submit"
          mat-flat-button
          color="primary"
          class="uppercase"
          [disabled]="!entityForm.form.valid">
    Add {{ label }}
  </button>
</form>
