<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Item</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <json-editor #entityEditor
               [options]="entityEditorOptions"
               [data]="entity?.dto"
               (change)="updateResourceDto($event)"></json-editor>

  <mat-error *ngIf="error">
    <span *ngIf="!error.testPersonas">{{ error }}</span>
  </mat-error>

  <mat-panel-title *ngIf="useTests && state !== ViewState.Viewing"
                   class="ddap-test-title">
    <h3 class="ddap-test">Test</h3>
  </mat-panel-title>

  <ng-container *ngIf="!isResource">
    <json-editor [hidden]="!(useTests && state === ViewState.Editing)"
                 #testEditor
                 [options]="testEditorOptions"
                 [data]="testDto"
                 (change)="updateTestDto($event)"></json-editor>
  </ng-container>

  <ng-container *ngIf="!isResource">
    <json-editor *ngIf="error && error.testPersonas && useTests && state === ViewState.Editing"
                 #errorEditor
                 [options]="errorEditorOptions"
                 [data]="error"></json-editor>
  </ng-container>

  <ddap-access-table [resource]="entity"></ddap-access-table>

  <ddap-test-form *ngIf="isResource && state !== ViewState.Viewing"
                  (change)="validateTest()"
                  [resource]="entity"></ddap-test-form>

  <mat-action-row *ngIf="state !== ViewState.Viewing">
    <button mat-flat-button
            color="primary"
            (click)="save()">
      Submit
    </button>
    <button mat-flat-button
            (click)="cancel()">
      Cancel
    </button>
  </mat-action-row>
  <mat-action-row *ngIf="state === ViewState.Viewing">
    <button mat-flat-button
            color="primary"
            (click)="edit()">Edit
    </button>
    <button id="remove-btn"
            mat-flat-button
            color="warn"
            (click)="remove()"
            [disabled]="state === ViewState.Submitting">Remove
    </button>
  </mat-action-row>
</mat-expansion-panel>
