@import '~ddap-common-lib/styles/modules/colors';

mat-checkbox.ng-invalid {
  color: $failure-color;
}

.description {
  font-size: 16px;
  color: $color-dark-grey;
}

ul {
  list-style: none;
  padding: 0;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  li {
    cursor: pointer;
    font-size: 1.05rem;
    line-height: 2rem;
  }
}
