@import "~ng-pick-datetime/assets/style/picker.min.css";

.datetime-picker {
  button {
    font-family: $primary-font-family;
  }

  .owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected {
    background: $primary-color;
  }
  .owl-dt-container-buttons {
    color: $primary-color;

  }
}
