mat-form-field {
  width: 100%;
}

form.ddap-form {
  margin: auto auto 3rem auto;
  width: 75%;

  .row, .col {
    width: 100%;
  }

  .row {
    display: flex;

    .col {
      padding-left: 1rem;
      padding-right: 1rem;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &.w-50 {
        width: 50%;
      }
    }
  }

  .row:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  mat-form-field input[readonly] {
    color: $color-grey;
  }

  button[type=submit] {
    margin-top: 2.5rem;
  }

  mat-card {
    margin-top: 1rem;

    .footer {
      text-align: right;
    }
  }

  mat-accordion {
    mat-expansion-panel-header {
      mat-panel-title,
      mat-panel-description {
        display: flex;
        align-items: center;
      }

      mat-panel-title {
        font-size: 1.1rem;

        mat-icon {
          margin-right: 0.5rem;
        }
      }

      mat-panel-description {
        font-size: 0.8rem;
      }
    }

    mat-expansion-panel {
      margin-bottom: 0.5rem;
    }

    .footer {
      display: flex;
      justify-content: flex-end;
    }

    .invalid-warning {
      margin-right: 1.5rem;
      color: $failure-color;
    }
  }

  h3 {
    align-items: center;
    margin-top: 2rem;
    display: flex;

    .mat-icon,
    .step {
      margin-right: 1rem;
    }

    > span {
      font-size: 1.4rem;
      font-weight: 500;
      flex-grow: 1;
    }

    &.form-section-title > span {
      font-size: 1.8rem;
    }
  }

  .ddap-form-validation-msg {
    margin-top: 1rem;
    display: none;

    &.visible {
      display: block;
    }
  }

  tag-input {
    padding-bottom: 1.25rem;
  }
}

.ddap-form-toolbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background: $color-grey-light;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;

  mat-error {
    flex: 1;
    margin-right: 2rem;
    margin-left: $sidenav-width + 4rem;
  }

  ddap-form-footer-error {
    flex-grow: 1;
  }
}

@media (max-width: 1600px) {
  form.ddap-form {
    width: 100%;
  }
}
