mat-form-field {
  width: 100%;
}

form.ddap-form {
  margin: auto auto 3rem auto;
  width: 50%;

  .row, .col {
    width: 100%;
  }

  .row {
    display: flex;

    .col {
      padding-left: 1rem;
      padding-right: 1rem;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &.w-50 {
        width: 50%;
      }
    }
  }

  button[type=submit] {
    margin-top: 2.5rem;
  }

  mat-card {
    margin-top: 1rem;

    .footer {
      text-align: right;
    }
  }

  h3 {
    align-items: center;
    margin-top: 2.5rem;
    display: flex;

    > span {
      font-size: 1.4rem;
      font-weight: 500;
      flex-grow: 1;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 1600px) {
  form.ddap-form {
    width: 100%;
  }
}
