mat-form-field {
  width: 100%;
}

ddap-root {
  mat-sidenav {
    .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
      .mat-list-item-content {
        flex-direction: row-reverse;
      }

      .icon {
        margin-left: 1rem;
        width: 4rem;
      }
    }

    mat-list-item.active-nav-link {
      .mat-list-item-content {
        background: #dadada;
      }
    }

    .sub-nav {
      .mat-list-item-ripple,
      .mat-ripple {
        margin-left: -1rem;
      }
    }

    mat-expansion-panel {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }

  mat-sidenav-content {
    .mat-expansion-panel-header-description,
    .mat-expansion-panel-header-title {
      flex-basis: 100%;
    }
  }
}
