.mat-progress-bar-fill::after {
  background-color: $progressbar-fill-background;
}

.mat-progress-bar-buffer {
  background-color: $progressbar-background;
}

ddap-root {
  mat-progress-bar.mat-progress-bar {
    position: fixed;
    z-index: 100;
  }
}

mat-card {
  > mat-progress-bar.ddap-card-loader {
    position: absolute;
    top: 0;
    left: 0;
  }
}
