ddap-root {
  ddap-beacon-search-bar {
    .mat-form-field-appearance-legacy {
      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
      }
    }

    .mat-form-field-label-wrapper {
      top: -0.5rem;
      padding: 0;
    }

    .mat-form-field-label {
      position: relative;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      display: none;
    }

    mat-form-field:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
