$timeline-primary-color: #888888;

$timeline-spacing: 1.5rem;

$timeline-dot: 0.7rem;
$timeline-line: 0.1rem;

.timeline {
  position: relative;
  margin: 0 0 0 $timeline-spacing;
  list-style: none;
  padding: 0 $timeline-spacing $timeline-spacing;
  text-align: left;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding-top: $timeline-line;
    font-weight: normal;
  }

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .event {
    padding-bottom: ($timeline-spacing * 0.5);
    margin-bottom: 0;
    position: relative;

    .line {
      border-left: $timeline-line dashed $timeline-primary-color;
      position: absolute;
      top: 0.5rem;
      left: -1.6rem;
      height: 107%;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;

      .line {
        display: none;
      }
    }

    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:after {
      left: ($timeline-spacing + $timeline-line + ($timeline-dot * 0.58)) * -1;
      background: white;
      border: $timeline-line solid $timeline-primary-color;
      border-radius: 50%;
      height: $timeline-dot;
      width: $timeline-dot;
      content: "";
      top: 5px;
    }
  }
}
