<mat-progress-bar mode="determinate" [value]="loader.progress$ | async"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <h1><mat-icon mat-list-icon>fingerprint</mat-icon> DDAP</h1>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>John Doe</h4>
        <a mat-line href="">logout</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>search</mat-icon>
        <h4 mat-line>Explore Data</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>collections_bookmark</mat-icon>
        <h4 mat-line>My Collections</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>My Identity</h4>
      </mat-list-item>
    </mat-nav-list>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Autism Repository
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item [routerLink]="['/resources']">
            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
            <h4 mat-line>Resources</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['/personas']">
            <mat-icon mat-list-icon>group</mat-icon>
            <h4 mat-line>Identities</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['/clients']">
            <mat-icon mat-list-icon>settings_input_component</mat-icon>
            <h4 mat-line>Clients</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['/claims']">
            <mat-icon mat-list-icon>lock</mat-icon>
            <h4 mat-line>Claims</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>view_quilt</mat-icon>
            <h4 mat-line>Views</h4>
          </mat-list-item>
          <mat-list-item [routerLink]="['/rules']">
            <mat-icon mat-list-icon>tune</mat-icon>
            <h4 mat-line>Rules</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>build</mat-icon>
            <h4 mat-line>Tests</h4>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-button>Show more repositories...</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
