<ddaplib-header [backLink]="['../..']" label="Add Claim Definition">
</ddaplib-header>

<ddaplib-main>
  <ddap-claim-definition-form #claimDefinitionForm>
  </ddap-claim-definition-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Claim Definition
  </button>
</div>
