<ddap-header [backLink]="['../..']" label="Add Claim Definition">
</ddap-header>

<ddap-main>
  <ddap-claim-definition-form #claimDefinitionForm>
  </ddap-claim-definition-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Claim Definition
  </button>
</div>
