<ddap-header [backLink]="['../..']" label="Add Service Template">
</ddap-header>

<ddap-main>
  <ddap-service-definition-form [damId]="damId"></ddap-service-definition-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Service Definition
  </button>
</div>
