<ddap-header [backLink]="['/resources']" [label]="resource?.ui.label">
</ddap-header>

<ddap-main>
  <p>{{ resource?.ui.description }}</p>

  <ddap-json-panel [useTests]="true"
                   [entityService]="resourceService"
                   [entity]="resource"></ddap-json-panel>

  <mat-list>
    <h3 mat-subheader>Views</h3>
    <mat-list-item *ngFor="let view of views">
      <mat-icon mat-list-icon>view_quilt</mat-icon>
      <h4 mat-line>{{ view.name }}</h4>

      <mat-form-field *ngIf="resource.views[view.name].token"
                      mat-line
                      class="example-form-field">
        <input matInput
               disabled
               type="text"
               placeholder="Access Token"
               [(ngModel)]="resource.views[view.name].token">

        <button mat-mat-flat-button
                matSuffix
                mat-icon-button
                ngxClipboard
                [cbContent]="resource.views[view.name].token"
                aria-label="Copy to clipboard">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-form-field>

      <button *ngIf="!resource.views[view.name].url && !resource.views[view.name].token"
              mat-flat-button
              color="primary"
              (click)="getAccess(view.name)">Get Access
      </button>

      <a *ngIf="resource.views[view.name].url"
         mat-raised-button
         color="accent"
         href="{{resource.views[view.name].url}}">Access</a>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</ddap-main>
