<ddaplib-header icon="apps" label="Clients">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add client'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddap-entity-description>
    Clients are OIDC relying parties that can view Identity Tokens of users. Only make a service a client of
    the Identity Concentrator if you trust them with information about user identities (such as their email
    addresses and RI claims).
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'client'"
    [descriptionProperty]="'ui.description'"
    [descriptionLabel]="'description'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddaplib-main>
