mat-table {
  max-height: 30rem;
  overflow-y: scroll;
}

mat-header-cell,
mat-cell {
  margin-right: 0.5rem;
  span {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:nth-child(1) {
    flex: 0 0 5%;
  }

  &:hover button,
  &:focus button{
    visibility: visible;
  }
  button {
    visibility: hidden;
  }
}

.mat-header-cell,
.mat-cell {
  word-wrap: break-word;
  word-break: break-all;
}

.mat-button[disabled] {
  cursor: not-allowed;
}
