<ddap-header [backLink]="['../..']" label="Add Client">
</ddap-header>

<ddap-main>
  <form #clientForm="ngForm" (ngSubmit)="onSubmit(idField.value, clientForm.value.body)">
    <mat-form-field data-se="id-field">
      <mat-label>Client ID</mat-label>
      <input #idField matInput>
      <mat-hint>The name by which other config objects refer to this resource</mat-hint>
    </mat-form-field>
    <div>
      <button type="submit" mat-flat-button color="primary" [disabled]="!clientForm.form.valid || clientForm.submitted">
        Add Client
      </button>
    </div>
  </form>
</ddap-main>
