<ddap-header icon="rules" label="Workflows">
  <ddap-header-btn
    [navigateTo]="['manage', 'add']"
    [label]="'execute workflow'">
  </ddap-header-btn>
</ddap-header>

<ddap-main>
  <mat-accordion *ngFor="let workflow of workflows">
    <h3 class="flex vertical-center">
      <span class="flex vertical-center">
        <mat-icon class="icon icon-resource"></mat-icon> {{ workflow.ui.resource }}
      </span>
      <span class="flex vertical-center">
        (<mat-icon class="icon icon-views"></mat-icon> {{ workflow.ui.view }})
      </span>
    </h3>
    <mat-expansion-panel [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Run Identifier</mat-panel-title>
        <mat-panel-description>State</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let run of workflow.runs">
      <mat-expansion-panel-header>
        <mat-panel-title data-se="run-id">{{ run.run_id }}</mat-panel-title>
        <mat-panel-description data-se="run-state">{{ run.state }}</mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button
              disabled
              color="primary"
              class="uppercase">
        View
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</ddap-main>
