<ddap-header icon="rules" label="Execute Workflow">

</ddap-header>

<ddap-main>
  <ddap-dataset-form #datasetForm (datasetColumnsChanged)="datasetColumnsChange($event)"></ddap-dataset-form>
  <ddap-workflow-form #workflowForm [datasetColumns]="datasetColumns"></ddap-workflow-form>
  <div class="ddap-form-toolbar">
    <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                            [message]="formErrorMessage">
    </ddap-form-footer-error>
    <button mat-flat-button
            (click)="executeWorkflow()"
            data-se="btn-execute"
            type="submit"
            color="primary"
            class="uppercase">
      Execute Workflow
    </button>
  </div>
</ddap-main>
