<ddaplib-header icon="rules" label="Execute Workflow">

</ddaplib-header>

<ddaplib-main>
  <ddap-dataset-form #datasetForm (datasetColumnsChanged)="datasetColumnsChange($event)"></ddap-dataset-form>
  <ddap-workflow-form #workflowForm [datasetColumns]="datasetColumns"></ddap-workflow-form>
  <div class="ddap-form-toolbar">
    <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                            [message]="formErrorMessage">
    </ddaplib-form-footer-error>
    <button mat-flat-button
            (click)="executeWorkflows()"
            data-se="btn-execute"
            type="submit"
            color="primary"
            class="uppercase">
      <ng-container *ngIf="this.datasetForm.selectedData as selectedData; else singleWorkflow">
        Execute {{ selectedData.length > 1 ? selectedData.length + ' Workflows' : ' Workflow' }}
      </ng-container>
      <ng-template #singleWorkflow>
        Execute Workflow
      </ng-template>
    </button>
  </div>
</ddaplib-main>
