@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$dnastack-icons-font-family: "dnastack";
$dnastack-icons-eot-font-path: "/assets/fonts/dnastack.eot";
$dnastack-icons-svg-font-path: "/assets/fonts/dnastack.svg";
$dnastack-icons-ttf-font-path: "/assets/fonts/dnastack.ttf";
$dnastack-icons-woff-font-path: "/assets/fonts/dnastack.woff";

$ddap-header-height: 5.6rem;
