<form novalidate
      class="flex vertical-center"
      (ngSubmit)="onSubmit(search)"
      [formGroup]="search">
  <mat-form-field class="input-select">
    <mat-select class="mbat-button-wrapper"
                name="assembly"
                formControlName="assembly">
      <mat-option *ngFor="let assemblyId of assemblyIds"
                  [value]="assemblyId">
        {{ assemblyId }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="stretch">
    <input name="query"
           matInput
           type="search"
           formControlName="query"
           [placeholder]="placeholder">
  </mat-form-field>
</form>

