<form class="flex vertical-center" (ngSubmit)="search()">
  <mat-form-field class="input-select">
    <mat-select class="mbat-button-wrapper"
                name="assembly"
                [(ngModel)]="selectedAssemblyId">
      <mat-option *ngFor="let assemblyId of assemblyIds"
                  [value]="assemblyId">
        {{ assemblyId }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="stretch">
    <input name="query"
           matInput
           type="search"
           [(ngModel)]="query"
           [placeholder]="query ? '' : placeholder"
           [disabled]="disabled">
  </mat-form-field>
</form>

