<form *ngIf="form"
      novalidate
      [formGroup]="form">
  <ul>
    <li *ngFor="let view of views">
      <h3>{{ view }}</h3>
      <ul>
        <li *ngFor="let persona of personas"
            [formGroupName]="persona">
          <mat-checkbox [formControlName]="view"
                        color="primary"
                        (change)="emitChange()"
                        id="{{ view }}/{{ persona }}">
            {{ persona }}
          </mat-checkbox>
        </li>
      </ul>
    </li>
  </ul>
</form>
