<ddaplib-header [backLink]="['../..']" label="Add Resource">
</ddaplib-header>

<ddaplib-main>
  <ddap-resource-form #resourceForm
                      [damId]="damId"
                      (formChange)="executeDryRun()">
  </ddap-resource-form>
  <ddap-resource-access #accessForm
                        [isNewResource]="true"
                        [damId]="damId"
                        [resource]="resourceForm.getModel()"
                        (formChange)="executeDryRun()">
  </ddap-resource-access>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Resource
  </button>
</div>
