<ddap-header [backLink]="['../..']" label="Add Resource">
</ddap-header>

<ddap-main>
  <ddap-resource-form #resourceForm>
    <div class="ddap-personas-access">
      <h3>
        <mat-icon class="icon icon-access"></mat-icon>
        <span>Access</span>
      </h3>
      <ddap-persona-resource-access #accessForm
                                    [isNewResource]="true"
                                    [resource]="resourceForm.getModel()">
      </ddap-persona-resource-access>
    </div>
  </ddap-resource-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Resource
  </button>
</div>
