<ddaplib-header icon="policies" label="Access Policies">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add access policy'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Access policies are declarations of GA4GH Researcher Identity claims that are required by researchers.
    Once you have created a policy, you can map it onto a dataset by creating a
    <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>.
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'access policy'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
