<ddap-header icon="policies" label="Access Policies">
  <ddap-entity-add
    [label]="'access policy'">
  </ddap-entity-add>
</ddap-header>

<ddap-main>
  <ddap-entity-description>
    Access policies are declarations of GA4GH Researcher Identity claims that are required by researchers.
    Once you have created a policy, you can map it onto a dataset by creating a
    <ddap-entity-description-link [path]="'../resources'">resources</ddap-entity-description-link>.
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'access policy'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddap-main>
