<ddap-header [backLink]="['../..']" label="Add Client Application">
</ddap-header>

<ddap-main>
  <ddap-client-application-form #clientApplicationForm>
  </ddap-client-application-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Client Application
  </button>
</div>
