<ddaplib-header icon="rules"
                label="WES Servers">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'execute workflow'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ng-container *ngFor="let resourceViews of wesResourceViews">
    <mat-card *ngFor="let view of resourceViews.views">
      <mat-card-header>
        <mat-card-title>{{ view.label }}</mat-card-title>
        <mat-card-subtitle>{{ resourceViews.resource }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ view.url }}
      </mat-card-content>
      <mat-card-actions align="end">
        <a [routerLink]="[resourceViews.damId, 'views', view.name, 'runs']">
          <button mat-button
                  color="primary"
                  class="uppercase"
                  data-se="view-btn">
            View Runs
          </button>
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ddaplib-main>
