<ddaplib-header [backLink]="['../..']"
             label="Add Trusted Source">
</ddaplib-header>

<ddaplib-main>
  <ddap-trusted-sources-form>
  </ddap-trusted-sources-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddaplib-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddaplib-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Trusted Sources
  </button>
</div>
