<ddaplib-header [backLink]="['../..']"
             label="Add Test Persona">
</ddaplib-header>

<ddaplib-main>
  <ddap-persona-form #personaForm
                     [damId]="damId">
  </ddap-persona-form>
</ddaplib-main>

<div class="ddap-form-toolbar">
  <ddap-form-footer-error [showError]="!isFormValid && isFormValidated"
                          [message]="formErrorMessage">
  </ddap-form-footer-error>
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Test Persona
  </button>
</div>
