<ddaplib-header icon="apps" label="Client Applications">
  <ddap-entity-add
    [label]="'client application'">
  </ddap-entity-add>
</ddaplib-header>

<ddaplib-main>
  <ddap-entity-description>
    Clients are applications that can access the DAM on behalf of a user. Only make a service a client of
    a DAM if you trust it to modify the system configuration and handle access tokens for data sources and services.
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'client application'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddaplib-main>
