<ddaplib-header icon="apps" label="Client Applications">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add client application'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Clients are applications that can access the DAM on behalf of a user. Only make a service a client of
    a DAM if you trust it to modify the system configuration and handle access tokens for data sources and services.
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'client application'"
    [descriptionLabel]="'description'"
    [descriptionProperty]="'ui.description'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
