<form class="ddap-form"
      novalidate
      [formGroup]="form">
  <div class="row">
    <mat-form-field class="col">
      <input matInput
             placeholder="Name"
             formControlName="id"
             [readonly]="resource.name.length > 0"
             data-se="inp-id"
             required>
      <mat-error *ngIf="form.get('id').invalid">Name must be 3-46 characters and alphanumeric</mat-error>
    </mat-form-field>
    <mat-form-field class="col"
                    formGroupName="ui">
      <input matInput
             placeholder="Display Name"
             formControlName="label"
             data-se="inp-label"
             required>
    </mat-form-field>
  </div>
    <div class="row">
      <mat-form-field class="col"
                      formGroupName="ui">
        <textarea matInput
                  placeholder="Description"
                  formControlName="description"
                  data-se="inp-description"
                  required>
          <mat-error *ngIf="form.get('ui.description').invalid">Description must be up to 255 characters</mat-error>
        </textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col"
                      formGroupName="ui">
        <input matInput
               placeholder="Owner"
               formControlName="owner"
               data-se="inp-owner">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput
               placeholder="Maximum TTL"
               formControlName="maxTokenTtl"
               data-se="inp-max-ttl">
      </mat-form-field>
    </div>
  <ng-container formGroupName="ui">
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="AccessModel"
               formControlName="access"
               data-se="inp-access">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="Year"
               formControlName="year"
               data-se="inp-year">
      </mat-form-field>
      <mat-form-field class="col">
        <input matInput
               placeholder="Size"
               formControlName="size"
               data-se="inp-size">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               placeholder="Tags"
               formControlName="tags"
               data-se="inp-tags">
        <mat-hint>Separate tags by comma</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               type="url"
               placeholder="Image URL"
               formControlName="imageUrl"
               data-se="inp-image-url">
        <mat-error *ngIf="form.get('ui.imageUrl').hasError('url')">Must start with http:// or https://</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               type="url"
               placeholder="Information URL"
               formControlName="infoUrl"
               data-se="inp-info-url">
        <mat-error *ngIf="form.get('ui.infoUrl').hasError('url')">Must start with http:// or https://</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               type="url"
               placeholder="Apply URL"
               formControlName="applyUrl"
               data-se="inp-apply-url">
        <mat-error *ngIf="form.get('ui.applyUrl').hasError('url')">Must start with http:// or https://</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col">
        <input matInput
               type="url"
               placeholder="Troubleshoot URL"
               formControlName="troubleshootUrl"
               data-se="inp-troubleshoot-url">
        <mat-error *ngIf="form.get('ui.troubleshootUrl').hasError('url')">Must start with http:// or https://</mat-error>
      </mat-form-field>
    </div>
  </ng-container>

  <h3>
    <span>Views</span>
    <div>
      <button mat-button
              color="primary"
              class="uppercase"
              type="button"
              data-se="btn-add-view"
              (click)="addView()">
        Add View
      </button>
    </div>
  </h3>

  <mat-accordion multi displayMode="flat">
    <div #views>
      <ng-template #viewTemplate
                   let-view>
        <ddap-resource-view-form [view]="view"
                                 (change)="dryRun()">
          <div class="footer">
            <button mat-button
                    type="button"
                    color="warn"
                    class="uppercase"
                    [attr.data-se]="'btn-remove-view-' + view.name"
                    (click)="removeView(view)">
              Remove View
            </button>
          </div>
        </ddap-resource-view-form>
      </ng-template>
    </div>
  </mat-accordion>

  <ng-content></ng-content>
</form>
