<ddap-header [backLink]="['../..']" label="Add Service Template">
</ddap-header>

<ddap-main>
  <form #serviceTemplateForm="ngForm" (ngSubmit)="onSubmit(serviceTemplateForm.value)">
    <mat-form-field>
      <textarea matInput placeholder="Service Template JSON" rows="10" name="body" ngModel required></textarea>
    </mat-form-field>
    <div>
      <button type="submit" mat-flat-button color="primary" [disabled]="!serviceTemplateForm.form.valid || serviceTemplateForm.submitted">
        Add Service Template
      </button>
    </div>
  </form>
</ddap-main>
