table {
  width: 100%;
}

.ddap-column-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  > .ddap-column {
    flex: 1;
    padding: 0 1rem 0 0;

    &:first-child {
      width: 60%;
    }

    &:last-child {
      padding: 0;
    }
  }
}
