<ddap-header icon="passport" label="Passport Issuers">
  <ddap-entity-add
    [label]="'passport issuer'">
  </ddap-entity-add>
</ddap-header>

<ddap-main>
  <ddap-entity-description>
    Passport Issuers are GA4GH Identity Brokers that are trusted to accurately represent researcher identity
    <ddap-entity-description-link [path]="'../claim-definitions'">claims</ddap-entity-description-link>
    from upstream identity providers.
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'passport issuer'"
    [descriptionProperty]="'issuer'"
    [descriptionLabel]="'issuer'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddap-main>
