<ddaplib-header icon="passport" label="Passport Issuers">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add passport issuer'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    Passport Issuers are GA4GH Identity Brokers that are trusted to accurately represent researcher identity
    <ddaplib-entity-description-link [path]="'../claim-definitions'">claims</ddaplib-entity-description-link>
    from upstream identity providers.
  </ddaplib-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'passport issuer'"
    [descriptionProperty]="'issuer'"
    [descriptionLabel]="'issuer'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
