<div class="list-content">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ configName }}
        </mat-panel-title>
        <mat-panel-description>
          {{ descriptionProperty }}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <ng-container *ngFor="let entity of entityList | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ entity.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ getDescription(entity) }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <json-editor [options]="editorOptions" [data]="entity"></json-editor>
        <mat-action-row>
          <button mat-button [routerLink]="['/' + configName + '/', entity.name]">View</button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
