<div class="list-content">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ headerTitle }}
        </mat-panel-title>
        <mat-panel-description>
          {{ descriptionLabel }}
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <ng-container *ngFor="let entity of entityList | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="auto">
          <mat-panel-title data-se="entity-title">
            {{ getTitle(entity) }}
          </mat-panel-title>
          <mat-panel-description>
            {{ getDescription(entity.dto) }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <json-editor [options]="editorOptions" [data]="entity.dto"></json-editor>
        <mat-action-row>
          <button mat-button [routerLink]="[entity.name]"
                  class="uppercase">
            Edit
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
