
.list-content {
  ::ng-deep mat-expansion-panel-header {
    min-height: 3rem;
    
    .mat-content {
      align-items: center;

      mat-panel-description {
        padding: 0.5rem;
      }
    }
  }
}

