@import '~ddap-common-lib/styles/modules/colors';

mat-expansion-panel {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .mat-expansion-panel-header-title {
    align-items: center;
    font-weight: 500;

    .icon {
      background: $color-grey-light;
      color: $color-grey;
    }
  }

  .persona-picture,
  .icon {
    margin-right: 1rem;
  }

  .persona-picture {
    width: 3.5rem;
    height: 3.5rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
