<ddaplib-header icon="tests" label="Test Personas">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add test persona'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddaplib-entity-description>
    <p>
      Test Personas are a way of asserting expected behaviour of
      <ddaplib-entity-description-link [path]="'../access-policies'">access policies</ddaplib-entity-description-link>
      and <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>
      that must be maintained whenever new changes are made. They are archetypes of users of the system, with identity
      <ddaplib-entity-description-link [path]="'../claim-definitions'">claims</ddaplib-entity-description-link>
      that have particular values and are from particular
      <ddaplib-entity-description-link [path]="'../trusted-sources'">sources</ddaplib-entity-description-link>.
    </p>
    <p>
      When you make a persona, you give it claims that make it like some category of real user in your system. You must
      also specify what
      <ddaplib-entity-description-link [path]="'../resources'">resources</ddaplib-entity-description-link>
      you expect the user to have access to.
      If any future request to modify configuration (whether that be a change to a resource, policy, or anything else)
      causes these expectations to be violated, the change will be denied until the expectations are updated.
    </p>
    <p>
      Test personas are meant to help protect existing policies and resources from changes that might accidentally
      grant erroneous access to data.
    </p>
  </ddaplib-entity-description>
  <mat-accordion>
    <ng-container *ngFor="let persona of entities$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header collapsedHeight="5rem"
                                    expandedHeight="5rem">
          <mat-panel-title>
            <ng-container *ngIf="persona.dto.passport.standardClaims.picture as picture; else imagePlaceholder">
              <div class="persona-picture">
                <img [src]="picture"/>
              </div>
            </ng-container>
            <ng-template #imagePlaceholder>
              <mat-icon class="icon icon-identity"></mat-icon>
            </ng-template>
            <h3 data-se="entity-title">{{ persona.dto.ui.label }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ddaplib-claim-group *ngIf="persona.dto.passport.standardClaims as standardClaims"
                          [claimGroupLabel]="'Standard Claims'"
                          [standardClaims]="standardClaims">
        </ddaplib-claim-group>
        <ddaplib-claim-group *ngIf="persona.dto.passport.ga4ghAssertions as ga4ghClaims"
                          [claimGroupLabel]="'Global Alliance for Genomics and Health Claims'"
                          [ga4ghClaims]="ga4ghClaims">
        </ddaplib-claim-group>
        <mat-action-row>
          <button mat-button
                  [routerLink]="[persona.name]"
                  color="primary"
                  class="uppercase">
            Edit Persona
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</ddaplib-main>
