<ddap-header label="My Identity"
             [icon]="'identity'">
</ddap-header>

<ddap-main>
  <mat-accordion class="ddap-connected-accounts">
    <h2>Connected Accounts</h2>
    <mat-progress-bar *ngIf="connectedAccountsSubscription && !connectedAccountsSubscription.closed"
                      class="ddap-card-loader"
                      mode="indeterminate">
    </mat-progress-bar>

    <mat-expansion-panel *ngFor="let account of connectedAccounts">
      <mat-expansion-panel-header collapsedHeight="6rem"
                                  expandedHeight="7rem">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar
                 [src]="getPicture(account)"/>
            <mat-card-title>{{ getProvider(account) }}</mat-card-title>
            <mat-card-subtitle>{{ account.properties.subject }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-expansion-panel-header>
      <button mat-button
              color="primary"
              class="uppercase"
              disabled>
        Disconnect
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="ddap-available-accounts">
    <h2>Connect Another Account</h2>
    <mat-progress-bar *ngIf="availableAccountsSubscription && !availableAccountsSubscription.closed"
                      class="ddap-card-loader"
                      mode="indeterminate">
    </mat-progress-bar>
    <a *ngFor="let account of availableAccounts"
       [href]="account.linkUrl">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar
               [src]="getPicture(account)"/>
          <mat-card-title>
            <span>{{ account.label }}</span>
            <mat-icon class="icon icon-plus"></mat-icon>
          </mat-card-title>
          <mat-card-subtitle *ngIf="isAccountPersona(account)">{{ account.provider }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </mat-accordion>
</ddap-main>
