<div *ngIf="!sandboxBannerStateService.isAcknowledged()"
     class="mat-elevation-z2">
  <mat-icon class="icon icon-warning"></mat-icon>
  <p>
    <span style="font-weight: bold">Warning: Only add public or synthetic datasets in this deployment!</span>
    This is a playground deployment, where any user may access or modify datasets.
  </p>
  <button mat-button
          color="primary"
          class="uppercase"
          data-se="accept-sandbox-warning"
          (click)="accept()">
    Accept
  </button>
</div>
