@import "../../../styles/modules/layout";
@import "../../../styles/modules/colors";

div {
  position: fixed;
  display: flex;
  align-items: center;
  color: $warn-font-color-alert;
  border: 0;
  border-radius: 0;
  background-color: $warn-background-color-alert;
  padding: .75rem 1.25rem;
  z-index: 1000;
  left: 0;
  margin-left: $sidenav-width;

  mat-icon {
    margin-right: 1rem;
  }

  button {
    min-width: auto;
  };
}
