<h2>Explore Data</h2>

<mat-card class="ddap-card" *ngFor="let resource of (resources$ | async)">
  <mat-card-header>
    <mat-card-title>{{ resource.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image
       [src]="resource.ui.img"
       alt="Photo">
  <mat-card-content>
    <p>{{ resource.ui.desc }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button
            color="primary"
            [routerLink]="['/data/', resource.name]">Details</button>
  </mat-card-actions>
</mat-card>



