@import "~src/styles/modules/colors";
@import "~@angular/material/theming";

.ddap-card {
  min-width: 20rem;
  max-width: 30rem;
  height: 20rem;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;

  mat-card-title {
    word-break: break-all;
  }

  .ddap-data-image {
    min-width: 20rem;
    min-height: 10rem;
  }

  img {
    min-width: 20rem;
    height: 10rem;
    object-fit: cover;
  }
}


.ddap-data-pane {
  margin-top: 2rem;

  mat-icon {
    float: right;
    margin-right: 0.5rem;
  }
}
