<ddaplib-header icon="explore"
                label="Explore Data"
                [searchable]="true">
  <ddap-beacon-search-bar>
  </ddap-beacon-search-bar>
</ddaplib-header>

<div class="ddap-data-pane">
<mat-card class="ddap-card"
          *ngFor="let qualified of (qualifiedResources$ | async)">
  <mat-card-header>
    <mat-card-title>{{ qualified.entity.dto.ui.label || 'Unknown' }}</mat-card-title>
    <mat-card-subtitle>{{ qualified.entity.dto.ui.description || 'Unknown' }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
       [src]="[qualified.entity.dto.ui.imageUrl || randomImageRetriever.getPathToFixedRandomImage(qualified.entity.dto.ui.label)]"
       alt="Photo">

  <mat-card-content>
    <p>{{ qualified.entity.dto.ui.description || 'Unknown' }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="primary"
            class="uppercase"
            [routerLink]="[qualified.damId, qualified.entity.name]"
            data-se="view-set-btn">View Set</button>
    <span flex></span>
    <mat-icon class="icon icon-add"></mat-icon>
  </mat-card-actions>
</mat-card>
</div>
