<ddaplib-header icon="identities" label="Identity Providers">
  <ddap-entity-add
    [label]="'identity provider'">
  </ddap-entity-add>
</ddaplib-header>

<ddaplib-main>
  <ddap-entity-description>
    Identity Providers are sources of identities that can be connected by users of this Identity Concentrator.
    Users can only authenticate with the Identity Concentrator through Identity Providers configured here.
  </ddap-entity-description>
  <ddap-entity-list
    [headerTitle]="'identity provider'"
    [descriptionProperty]="'issuer'"
    [descriptionLabel]="'issuer'"
    [entityList]="entities$">
  </ddap-entity-list>
</ddaplib-main>
