<ddaplib-header icon="identities" label="Identity Providers">
  <ddaplib-header-add-btn [navigateTo]="['manage', 'add']"
                          [label]="'add identity provider'">
  </ddaplib-header-add-btn>
</ddaplib-header>

<ddaplib-main>
  <ddap-entity-description>
    Identity Providers are sources of identities that can be connected by users of this Identity Concentrator.
    Users can only authenticate with the Identity Concentrator through Identity Providers configured here.
  </ddap-entity-description>
  <ddaplib-entity-list
    [headerTitle]="'identity provider'"
    [descriptionProperty]="'issuer'"
    [descriptionLabel]="'issuer'"
    [entityList]="entities$">
  </ddaplib-entity-list>
</ddaplib-main>
