@import '~ddap-common-lib/styles/modules/colors';

.ddap-beacon-result {
  margin-bottom: 0.5rem;

  mat-card {
    background: transparent;
    padding: 0;
    box-shadow: none;

    mat-card-subtitle:last-child {
      margin-bottom: 0;
    }

    mat-icon {
      margin-right: 0.5rem;
    }
  }

  mat-list {
    &.mat-list-base {
      padding-top: 0;
    }

    mat-list-item {
      height: 2rem;
    }
  }

  .match-success {
    color: $beacon-query-result-match;
  }

  .match-failure {
    color: $beacon-query-result-no-match;
  }

  .match-error {
    color: $beacon-query-result-error;
  }

  .metadata {
    font-size: 0.9rem;

    h4 {
      flex-basis: 30%;
    }
    span {

    }
  }

  .error-content {
    padding: 0 1rem;
    margin-top: 0;
  }
}

