<h2>
  <mat-icon mat-list-icon>insert_drive_file</mat-icon>{{resource?.ui.displayAs}}</h2>

<p>{{ resource?.ui.desc }}</p>


<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{resource?.ui.displayAs}} JSON
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ngx-json-viewer *ngIf="disableTextArea()"
                   [json]="resource"></ngx-json-viewer>

  <mat-form-field *ngIf="!disableTextArea()">
    <textarea matInput
              placeholder="Resource JSON"
              rows="10">
      {{resource | json}}
    </textarea>
  </mat-form-field>

  <mat-action-row *ngIf="showEditControls()">
    <button mat-button (click)="submit(textArea.value)" [disabled]="isSubmitting()">Submit</button>
    <button mat-button (click)="cancel()" [disabled]="isSubmitting()">Cancel</button>
  </mat-action-row>
  <mat-action-row *ngIf="!showEditControls()">
    <button mat-button (click)="edit()">Edit</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-list>
  <h3 mat-subheader>Views</h3>
  <mat-list-item *ngFor="let view of views">
    <mat-icon mat-list-icon>view_quilt</mat-icon>
    <h4 mat-line>{{view.name}}</h4>


    <mat-form-field *ngIf="resource.views[view.name].token"
                    mat-line
                    class="example-form-field">
      <input matInput
             disabled
             type="text"
             placeholder="Access Token"
             [(ngModel)]="resource.views[view.name].token">

      <button mat-button
              matSuffix
              mat-icon-button
              ngxClipboard
              [cbContent]="resource.views[view.name].token"
              aria-label="Copy to clipboard">
        <mat-icon>file_copy</mat-icon>
      </button>
    </mat-form-field>

    <button *ngIf="!resource.views[view.name].url && !resource.views[view.name].token"
            mat-raised-button
            (click)="getAccess(view.name)">Get Access
    </button>

    <a *ngIf="resource.views[view.name].url"
       mat-raised-button
       color="accent"
       href="{{resource.views[view.name].url}}">Access</a>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
