<ddap-header [backLink]="['../..']" label="Add Claim Definition">
</ddap-header>

<ddap-main>
  <ddap-claim-definition-form #claimDefinitionForm>
    <mat-error #formErrorElement
               [class.visible]="formError.showError"
               class="ddap-form-validation-msg">
      Please fix invalid fields (marked red) before saving the claim definition.
    </mat-error>
  </ddap-claim-definition-form>
</ddap-main>

<div class="ddap-form-toolbar">
  <button mat-flat-button
          (click)="save()"
          data-se="btn-save"
          type="submit"
          color="primary"
          class="uppercase">
    Add Claim Definition
  </button>
</div>
